/*******************custom css for range slider*********************************/
.range-labels {
    margin: 18px -41px 0;
    padding: 0;
    list-style: none;
  }
  .range-labels li {
    position: relative;
    float: left;
    width: 90.25px;
    text-align: center;
    color: #0075FF;
    font-size: 14px;
    cursor: pointer;
  }
  .range-labels li::before {
    position: absolute;
    top: -30px;
    right: 0   ;
    left: 0;
    content: "";
    margin: 0 auto;
    width: 8px;
    height: 8px;
    background: #0075FF;
    border-radius: 50%;
  }
  .range-labels .active {
    color: #37adbf;
  }
  .range-labels .selected::before {
    background: #37adbf;
  }
  .range-labels .active.selected::before {
    display: none;
  }
  
  .form-control-range{
    color:#272e38;
  }
  
  /*****bottom nav css*****/
  nav{
    width:100%;
  }
  nav > .nav.nav-tabs{
  
    border: none;
      color:#fff;
      background:#272e38;
      border-radius:0;
  
  
  }
  nav > div a.nav-item.nav-link
  /*nav > div a.nav-item.nav-link.active*/
  {
      text-transform:uppercase;
      font-weight: bold;
      border: none;
      padding: 15px 80px;
      color:#fff;
      background:#272e38;
      border-radius:0;
  }
  nav > div a.nav-item.nav-link.active{
      color:#fff;
    background:#2e279d;
    -webkit-box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.75);
  
  }
  
  /*nav > div a.nav-item.nav-link.active:after
   {
    content: "";
    position: relative;
    bottom: -60px;
    left: -10%;
    border: 15px solid transparent;
    border-top-color: #2e279d ;
  }*/
  nav > div a.nav-item.nav-link:hover,
  nav > div a.nav-item.nav-link:focus
  {
      border: none;
      background: #2e279d;
      color:#fff;
      border-radius:0;
      transition:background 0.20s linear;
  }